.idea/CISC472-DBS-Target-Locator-Module-Fall-2025.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
/.idea
DBSTargetLocator/__pycache__/DBSTargetLocator.cpython-39.pyc

.ipynb_checkpoints
__pycache__
atlas_merger.py
atlases/Buckner2011_7Networks_MNI152_FreeSurferConformed1mm_TightMask.nii.gz
atlases/Schaefer2018_400Parcels_7Networks_order_FSLMNI152_2mm.nii.gz
atlases/Tian_Subcortex_S2_3T_1mm.nii.gz
h5_downloader.py
patient_summary.py
